$accordion-button-padding-y: 0.5em;

@import "../assets/scss/bootstrap";

.no-border-card {
    @extend .card;
    border: unset;
    background-color: unset;
}

.row>* {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.table {
    margin-bottom: 0px;
}

hr {
    margin: 0.5rem 0;
}

.modal-header-success {
    background-color: $success;
}

.modal-header-danger {
    background-color: $danger;
}

.col-form-label-sm {
    font-size: 0.85rem;
}

.input-group-sm>.form-control,
.input-group-sm>.form-select,
.input-group-sm>.input-group-text,
.input-group-sm>.btn {
    font-size: 0.85rem;
}

.form-control-sm {
    font-size: 0.85rem;
}

.card-header,
.card-body {
    font-size: 0.85rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.card-header {
    padding-left: 0.5rem;
    font-weight: 600
}

.container-card {
    @extend .container-fluid;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}