$accordion-button-padding-y: 0.5em;

@import "../assets/scss/bootstrap";

.no-border-card {
    @extend .card;
    border: 0;
}

.table {
    margin-bottom: 0px;
}

hr {
    margin: 0.5rem 0;
}

.modal-header-success {
    background-color: $success;
}

.modal-header-danger {
    background-color: $danger;
}