.nonproductionbadge {
    background-color: rgba(255, 0, 0, 0.85);
    display: block;
    position: absolute;
    z-index: 10000;
    font-size: 16px;
    text-align: center;
    transform: rotate(-45deg);
    top: 10px;
    left: -125px;
    width: 300px;
    height: 25px;
    border: 1px solid black;
    pointer-events: none;
}

.nonproductionbackground {
    background-color: yellow;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 0.25rem;
    height: 100vh;
    cursor: ew-resize;
}

.width-max-content {
    width: max-content;
}

.panel {
    transition: width 0.3s ease;
}

.panel.collapsed {
    width: 50px !important;
}

.panel.collapsed *:not(#toggleContainer):not(#toggleButton):not(#toggleButton *) {
    display: none;
}

#icon {
    transition: transform 0.3s ease;
}

.rotate-right {
    transform: rotate(180deg);
}

.rotate-left {
    transform: rotate(0deg);
}

.visible {
    display: block;
}

.resize-none {
    resize: none;
}